@model ParamMotDePasseViewModel;
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section VendorStyles{
    <link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/spinkit/spinkit.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/toastr/toastr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section VendorScripts{
    <script src="~/vendor/libs/bs-stepper/bs-stepper.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/tagify/tagify.dist.js"></script>
    <script src="~/vendor/libs/block-ui/block-ui.dist.js"></script>
    <script src="~/vendor/libs/toastr/toastr.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>

}

@section PageScripts {
    @*<script src="~/js/form-wizard-numbered.js"></script>*@
    @* <script src="~/bernard/assets/js/form-wizard-numbered.js"></script>
    <script src="~/js/custom/home-index.js"></script>*@
    <script src="~/js/form-layouts.dist.js"></script>
    <script>
        $(function () {
            var form = window.$('#form1'),
                btn = window.$('#btn1'),
                //indice = $('#indice'),
                //tel = $('#tel'),
                form1 = window.$('#form2'),
                btn1 = window.$('#btn2'),
                title = '',
                message = '',
                errorTitle = new DOMParser().parseFromString('Erreur', 'text/html').body.innerHTML,
                errorTypeMessage = 'error',
                errorMessage = new DOMParser().parseFromString('Erreur Produite', 'text/html').body.innerHTML,
                errorDescription = '',
                errorTimeOut = 500000,
                errors = [];

            form.on("submit",
                function (event) {
                    event.preventDefault();
                    var data = window.$(this).serialize();
                    var url = window.$(this).attr("action");
                    console.log(data);
                    window.$.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: data,
                        beforeSend: function () {
                            btn.attr('disabled', 'disabled');
                            window.$.blockUI({
                                message: '<div class="spinner-border text-primary" role="status"></div>',
                                css: {
                                    backgroundColor: 'transparent',
                                    border: '0'
                                },
                                overlayCSS: {
                                    backgroundColor: '#fff',
                                    opacity: 0.8
                                }
                            });
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.typeMessage === "error") {
                                window.toastr[response.typeMessage]('👋 ' + 'Erreur',
                                    {
                                        showMethod: 'slideDown',
                                        hideMethod: 'slideUp',
                                        closeButton: true,
                                        tapToDismiss: false,
                                        progressBar: true,
                                        timeOut: response.timeOut,
                                        rtl: window.$('html').attr('data-textdirection') === 'rtl',
                                        onHidden: function () { }
                                    });
                            }
                            //var strJson = JSON.parse(response.strJson);
                            //var nom = strJson.Nom;
                            //var prenoms = strJson.Prenoms;
                            //$('#username').val(strJson.Username);
                            message = new DOMParser().parseFromString(response.message, 'text/html').body.innerHTML;
                            window.toastr[response.typeMessage]('👋 ' + message,
                                response.title,
                                {
                                    showMethod: 'slideDown',
                                    hideMethod: 'slideUp',
                                    closeButton: true,
                                    tapToDismiss: false,
                                    progressBar: true,
                                    timeOut: response.timeOut,
                                    rtl: window.$('html').attr('data-textdirection') === 'rtl',
                                    onHidden: function () { }
                                });
                            
                        },
                        error: function (response) {
                            try {

                                var obj = JSON.parse(JSON.stringify(response.responseJSON));
                                if (obj.length !== 0) {
                                    if (response.status === 401) {
                                        message = new DOMParser().parseFromString('Non autorisé', 'text/html').body.innerHTML;
                                        window.toastr[errorTypeMessage]('👋 ' + message,
                                            errorTitle,
                                            {
                                                showMethod: 'slideDown',
                                                hideMethod: 'slideUp',
                                                closeButton: true,
                                                tapToDismiss: false,
                                                progressBar: true,
                                                timeOut: errorTimeOut,
                                                rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                            });
                                    }
                                    else {
                                        if (obj.typeMessage != null && obj.typeMessage !== undefined) {
                                            if (response.status === 0) {
                                            } else if (response.status === 400 || response.status === 404 || response.status === 405 || response.status === 500) {
                                                errorTitle = obj.title;
                                                errorTypeMessage = obj.typeMessage;
                                                errorMessage = obj.message;
                                                errorDescription = obj.description;
                                                errorTimeOut = obj.timeOut;
                                                if (obj.erreurs != null && obj.erreurs != undefined) errors = obj.erreurs;
                                            }
                                            if (errors !== null && errors !== undefined && errors.length > 0) {
                                                var messages = '';
                                                if (errors.length == 1) {
                                                    messages = errors;
                                                }
                                                else {
                                                    for (var i = 0; i < errors.length; i++) {
                                                        messages += errors[i] + "<br>";
                                                    }
                                                    messages = messages.slice(0, -4);
                                                }
                                                errorMessage = new DOMParser().parseFromString(messages, 'text/html').body.innerHTML;

                                            } else if (errorDescription !== null && errorDescription !== undefined) {
                                                errorMessage = new DOMParser().parseFromString(errorDescription, 'text/html').body.innerHTML;
                                            } else {
                                                errorMessage = new DOMParser().parseFromString(errorMessage, 'text/html').body.innerHTML;
                                            }
                                            window.toastr[errorTypeMessage]('👋 ' + errorMessage,
                                                errorTitle,
                                                {
                                                    showMethod: 'slideDown',
                                                    hideMethod: 'slideUp',
                                                    closeButton: true,
                                                    tapToDismiss: false,
                                                    progressBar: true,
                                                    timeOut: errorTimeOut,
                                                    rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                                }
                                            );
                                        }
                                    }
                                }
                            } catch (err) {
                                window.toastr[errorTypeMessage]('👋 ' + err,
                                    errorTitle,
                                    {
                                        showMethod: 'slideDown',
                                        hideMethod: 'slideUp',
                                        closeButton: true,
                                        tapToDismiss: false,
                                        progressBar: true,
                                        timeOut: errorTimeOut,
                                        rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                    }
                                );
                            }
                        },
                        complete: function () {
                            btn.removeAttr('disabled');
                            window.$.unblockUI();
                        }
                    });
                });


            form1.on("submit",
                function (event) {
                    event.preventDefault();
                    var data = window.$(this).serialize();
                    var url = '@Url.Action("ParamMail", "Admin")';
                    console.log(data);
                    window.$.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: data,
                        beforeSend: function () {
                            btn1.attr('disabled', 'disabled');
                            window.$.blockUI({
                                message: '<div class="spinner-border text-primary" role="status"></div>',
                                css: {
                                    backgroundColor: 'transparent',
                                    border: '0'
                                },
                                overlayCSS: {
                                    backgroundColor: '#fff',
                                    opacity: 0.8
                                }
                            });
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.typeMessage === "error") {
                                window.toastr[response.typeMessage]('👋 ' + 'Erreur',
                                    {
                                        showMethod: 'slideDown',
                                        hideMethod: 'slideUp',
                                        closeButton: true,
                                        tapToDismiss: false,
                                        progressBar: true,
                                        timeOut: response.timeOut,
                                        rtl: window.$('html').attr('data-textdirection') === 'rtl',
                                        onHidden: function () { }
                                    });
                            }
                            //var strJson = JSON.parse(response.strJson);
                            //var nom = strJson.Nom;
                            //var prenoms = strJson.Prenoms;
                            //$('#username').val(strJson.Username);
                            message = new DOMParser().parseFromString(response.message, 'text/html').body.innerHTML;
                            window.toastr[response.typeMessage]('👋 ' + message,
                                response.title,
                                {
                                    showMethod: 'slideDown',
                                    hideMethod: 'slideUp',
                                    closeButton: true,
                                    tapToDismiss: false,
                                    progressBar: true,
                                    timeOut: response.timeOut,
                                    rtl: window.$('html').attr('data-textdirection') === 'rtl',
                                    onHidden: function () { }
                                });

                        },
                        error: function (response) {
                            try {

                                var obj = JSON.parse(JSON.stringify(response.responseJSON));
                                if (obj.length !== 0) {
                                    if (response.status === 401) {
                                        message = new DOMParser().parseFromString('Non autorisé', 'text/html').body.innerHTML;
                                        window.toastr[errorTypeMessage]('👋 ' + message,
                                            errorTitle,
                                            {
                                                showMethod: 'slideDown',
                                                hideMethod: 'slideUp',
                                                closeButton: true,
                                                tapToDismiss: false,
                                                progressBar: true,
                                                timeOut: errorTimeOut,
                                                rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                            });
                                    }
                                    else {
                                        if (obj.typeMessage != null && obj.typeMessage !== undefined) {
                                            if (response.status === 0) {
                                            } else if (response.status === 400 || response.status === 404 || response.status === 405 || response.status === 500) {
                                                errorTitle = obj.title;
                                                errorTypeMessage = obj.typeMessage;
                                                errorMessage = obj.message;
                                                errorDescription = obj.description;
                                                errorTimeOut = obj.timeOut;
                                                if (obj.erreurs != null && obj.erreurs != undefined) errors = obj.erreurs;
                                            }
                                            if (errors !== null && errors !== undefined && errors.length > 0) {
                                                var messages = '';
                                                if (errors.length == 1) {
                                                    messages = errors;
                                                }
                                                else {
                                                    for (var i = 0; i < errors.length; i++) {
                                                        messages += errors[i] + "<br>";
                                                    }
                                                    messages = messages.slice(0, -4);
                                                }
                                                errorMessage = new DOMParser().parseFromString(messages, 'text/html').body.innerHTML;

                                            } else if (errorDescription !== null && errorDescription !== undefined) {
                                                errorMessage = new DOMParser().parseFromString(errorDescription, 'text/html').body.innerHTML;
                                            } else {
                                                errorMessage = new DOMParser().parseFromString(errorMessage, 'text/html').body.innerHTML;
                                            }
                                            window.toastr[errorTypeMessage]('👋 ' + errorMessage,
                                                errorTitle,
                                                {
                                                    showMethod: 'slideDown',
                                                    hideMethod: 'slideUp',
                                                    closeButton: true,
                                                    tapToDismiss: false,
                                                    progressBar: true,
                                                    timeOut: errorTimeOut,
                                                    rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                                }
                                            );
                                        }
                                    }
                                }
                            } catch (err) {
                                window.toastr[errorTypeMessage]('👋 ' + err,
                                    errorTitle,
                                    {
                                        showMethod: 'slideDown',
                                        hideMethod: 'slideUp',
                                        closeButton: true,
                                        tapToDismiss: false,
                                        progressBar: true,
                                        timeOut: errorTimeOut,
                                        rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                    }
                                );
                            }
                        },
                        complete: function () {
                            btn1.removeAttr('disabled');
                            window.$.unblockUI();
                        }
                    });
                });
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
    </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col">
                    <h6 class="mt-4"> Paramètres </h6>
                    <div class="card mb-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">Mots de passe</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#form-tabs-account" role="tab" aria-selected="false">Mail</button>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <!-- Personal Info -->
                            <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
                                <form asp-action="ParamMotDePasse" asp-controller="Admin" method="POST" id="form1">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-first-name">Inclure des chiffres ?</label>
                                                <div class="col-sm-9">
                                                    <select id="chiffre" class="select2 form-select" data-allow-clear="true" asp-for="@Model.Resource.IncludeDigits">
                                                        <option value="">Select</option>
                                                        <option value="@true">Oui</option>
                                                        <option value="@false">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">Exclure le nom d'utilisateur ?</label>
                                                <div class="col-sm-9">
                                                    <select id="excludeUsername" class="select2 form-select" data-allow-clear="true" asp-for="@Model.Resource.ExcludeUsername">
                                                        <option value="">Select</option>
                                                        <option value="@true">Oui</option>
                                                        <option value="@false">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-country">Inclure des caractères minuscules ?</label>
                                                <div class="col-sm-9">
                                                    <select id="minChars" class="select2 form-select" data-allow-clear="true" asp-for="@Model.Resource.IncludeLowerCase">
                                                        <option value="">Select</option>
                                                        <option value="@false">Oui</option>
                                                        <option value="@false">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 select2-primary">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-language">Inclure des caractères majuscules ?</label>
                                                <div class="col-sm-9">
                                                    <select id="majChars" class="select2 form-select" data-allow-clear="true" asp-for="@Model.Resource.IncludeUpperCase">
                                                        <option value="">Select</option>
                                                        <option value="@true">Oui</option>
                                                        <option value="@false">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-birthdate">Inclure des caractères spéciaux ?</label>
                                                <div class="col-sm-9">
                                                    <select id="specialChars" class="select2 form-select" data-allow-clear="true" asp-for="@Model.Resource.IncludeSpecialCharacters">
                                                        <option value="">Select</option>
                                                        <option value="@true">Oui</option>
                                                        <option value="@false">Non</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-phone">Taille minimale des mots de passe</label>
                                                <div class="col-sm-9">
                                                    <input type="number" id="formtabs-phone" class="form-control" placeholder="8" aria-label="8" min="0" asp-for="@Model.Resource.Taille" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-phone">Délai d'expiration des mots de passe (mois)</label>
                                                <div class="col-sm-9">
                                                    <input type="number" id="formtabs-phone" class="form-control" placeholder="8" aria-label="8" min="0" asp-for="@Model.Resource.DelaiExpiration" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="row justify-content-end">
                                                <div class="col-sm-9">
                                                    <button type="submit" class="btn btn-primary me-sm-3 me-1" id="btn1">Soumettre</button>
                                                    <button type="reset" class="btn btn-label-secondary">Réinitialiser</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Account Details -->
                            <div class="tab-pane fade" id="form-tabs-account" role="tabpanel">
                                <form id="form2" asp-action="ParamMail" asp-controller="Admin" method="post">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-username">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="email" id="formtabs-username" class="form-control" placeholder="bia&#64;bia.tg" asp-for="@Model.Resource.SmtpEmail" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-email">Nom</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-merge">
                                                        <input type="text" id="formtabs-email" class="form-control" placeholder="john doe" aria-label="john doe" aria-describedby="john doe" asp-for="@Model.Resource.SmtpName" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-password-toggle">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-password">Mot de passe</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-merge">
                                                        <input type="password" id="formtabs-password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="formtabs-password2" asp-for="@Model.Resource.FromPassword" />
                                                        <span class="input-group-text cursor-pointer" id="formtabs-password2"><i class="ti ti-eye-off"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-password-toggle">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-confirm-password">Client Smtp</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-merge">
                                                        <input type="text" id="formtabs-confirm-password" class="form-control" placeholder="smtp.gmail.com" aria-describedby="" asp-for="@Model.Resource.SmtpClient" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-password-toggle">
                                                <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-confirm-password">Port</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-merge">
                                                        <input type="number" id="formtabs-confirm-password" class="form-control" placeholder="587" aria-describedby="" asp-for="@Model.Resource.Port" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-9">
                                                        <button type="submit" class="btn btn-primary me-sm-3 me-1" id="btn2">Soumettre</button>
                                                        <button type="reset" class="btn btn-label-secondary">Réinitialiser</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




