@model LoginViewModel
@{
	ViewData["Title"] = "Connexion";
	Layout = "_BlankLayout";
}

@* ************** Content ************** *@

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/toastr/toastr.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section VendorScripts {
	<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
	<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
	<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
	<script src="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.dist.js"></script>
	<script src="~/vendor/libs/pickr/pickr.dist.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
	<script src="~/vendor/libs/datatables/jquery.dataTables.dist.js"></script>
	<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/datatables-responsive/datatables.responsive.dist.js"></script>
	<script src="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/datatables-buttons/datatables-buttons.dist.js"></script>
	<script src="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/block-ui/block-ui.dist.js"></script>
	<script src="~/vendor/libs/toastr/toastr.dist.js"></script>
	<script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageScripts {
	<script>
		$(function () {
			var form = window.$('#form'),
				btn = window.$('#btnSubmit'),
				//indice = $('#indice'),
				//tel = $('#tel'),
				title = '',
				message = '',
				errorTitle = new DOMParser().parseFromString('Erreur', 'text/html').body.innerHTML,
				errorTypeMessage = 'error',
				errorMessage = new DOMParser().parseFromString('Erreur Produite', 'text/html').body.innerHTML,
				errorDescription = '',
				errorTimeOut = 500000,
				errors = [];

			form.on("submit",
				function (event) {
					event.preventDefault();
					var data = window.$(this).serialize();
					var url = window.$(this).attr("action");
					console.log(data);
					window.$.ajax({
						url: url,
						type: "POST",
						dataType: "json",
						data: data,
						beforeSend: function () {
							btn.attr('disabled', 'disabled');
							window.$.blockUI({
								message: '<div class="spinner-border text-primary" role="status"></div>',
								css: {
									backgroundColor: 'transparent',
									border: '0'
								},
								overlayCSS: {
									backgroundColor: '#fff',
									opacity: 0.8
								}
							});
						},
						success: function (response) {
							console.log(response);
							if (response.typeMessage === "error") {
								window.toastr[response.typeMessage]('👋 ' + 'Erreur, Identifiants incorrects.',
									{
										showMethod: 'slideDown',
										hideMethod: 'slideUp',
										closeButton: true,
										tapToDismiss: false,
										progressBar: true,
										timeOut: response.timeOut,
										rtl: window.$('html').attr('data-textdirection') === 'rtl',
										onHidden: function () { }
									});
							}
							var strJson = JSON.parse(response.strJsonLogin);
							var nom = strJson.Nom;
							var prenoms = strJson.Prenoms;
							$('#username').val(strJson.Username);
							message = new DOMParser().parseFromString(response.message, 'text/html').body.innerHTML;
							window.toastr[response.typeMessage]('👋 ' + message,
								response.title,
								{
									showMethod: 'slideDown',
									hideMethod: 'slideUp',
									closeButton: true,
									tapToDismiss: false,
									progressBar: true,
									timeOut: response.timeOut,
									rtl: window.$('html').attr('data-textdirection') === 'rtl',
									onHidden: function () { }
								});
							if (strJson.CodeProfil === 'PROFIL-001')
								window.location.href = '@Url.Action("Admin", "Admin")';
							if (strJson.CodeProfil === 'PROFIL-002')
								window.location.href = '@Url.Action("Gestionnaire", "Gestionnaire")';
							if (strJson.CodeProfil === 'PROFIL-003')
								window.location.href = '@Url.Action("Analyste", "Analyste")';
						},
						error: function (response) {
							try {
								
								var obj = JSON.parse(JSON.stringify(response.responseJSON));
								if (obj.length !== 0) {
									if (response.status === 401) {
										message = new DOMParser().parseFromString('Non autorisé', 'text/html').body.innerHTML;
										window.toastr[errorTypeMessage]('👋 ' + message,
											errorTitle,
											{
												showMethod: 'slideDown',
												hideMethod: 'slideUp',
												closeButton: true,
												tapToDismiss: false,
												progressBar: true,
												timeOut: errorTimeOut,
												rtl: window.$('html').attr('data-textdirection') === 'rtl'
											});
									}
									else {
										if (obj.typeMessage != null && obj.typeMessage !== undefined) {
											if (response.status === 0) {
											} else if (response.status === 400 || response.status === 404 || response.status === 405 || response.status === 500) {
												errorTitle = obj.title;
												errorTypeMessage = obj.typeMessage;
												errorMessage = obj.message;
												errorDescription = obj.description;
												errorTimeOut = obj.timeOut;
												if (obj.erreurs != null && obj.erreurs != undefined) errors = obj.erreurs;
											}
											if (errors !== null && errors !== undefined && errors.length > 0) {
												var messages = '';
												if (errors.length == 1) {
													messages = errors;
												}
												else {
													for (var i = 0; i < errors.length; i++) {
														messages += errors[i] + "<br>";
													}
													messages = messages.slice(0, -4);
												}
												errorMessage = new DOMParser().parseFromString(messages, 'text/html').body.innerHTML;

											} else if (errorDescription !== null && errorDescription !== undefined) {
												errorMessage = new DOMParser().parseFromString(errorDescription, 'text/html').body.innerHTML;
											} else {
												errorMessage = new DOMParser().parseFromString(errorMessage, 'text/html').body.innerHTML;
											}
											window.toastr[errorTypeMessage]('👋 ' + errorMessage,
												errorTitle,
												{
													showMethod: 'slideDown',
													hideMethod: 'slideUp',
													closeButton: true,
													tapToDismiss: false,
													progressBar: true,
													timeOut: errorTimeOut,
													rtl: window.$('html').attr('data-textdirection') === 'rtl'
												}
											);
										}
									}
								}
							} catch (err) {
								window.toastr[errorTypeMessage]('👋 ' + err,
									errorTitle,
									{
										showMethod: 'slideDown',
										hideMethod: 'slideUp',
										closeButton: true,
										tapToDismiss: false,
										progressBar: true,
										timeOut: errorTimeOut,
										rtl: window.$('html').attr('data-textdirection') === 'rtl'
									}
								);
							}
						},
						complete: function () {
							btn.removeAttr('disabled');
							window.$.unblockUI();
						}
					});
				});
		});
	</script>
}
<div class="authentication-wrapper authentication-basic container-p-y">
	<div class="authentication-inner py-4">
		<!-- Login -->
		<div class="card">
			<div class="card-body">
				<!-- Logo -->
				<div class="app-brand justify-content-center mb-4 mt-2">
					<a href="/" class="app-brand-link gap-2">
						<span class="app-brand-logo demo">
							<img src="~/logos/bia.png" alt="bia-logo" class="h-auto rounded-circle" width="40" height="40">
						</span>
					</a>
				</div>
				<!-- /Logo -->
				<h4 class="mb-1 pt-2">Bienvenue 👋</h4>
				<p class="mb-4">Veuillez vous connecter</p>

				<form id="form" class="mb-3" asp-action="Login" asp-controller="Home" method="POST">
					<div class="mb-3">
						<label asp-for="@Model.LoginResource.Username" class="form-label">Nom d'utilisateur</label>
						<input type="text" class="form-control" id="username" placeholder="Entrez votre nom d'utilisateur" autofocus asp-for="@Model.LoginResource.Username">
					</div>
					<div class="input-group input-group-merge">
						<input type="password" id="password" class="form-control" asp-for="@Model.LoginResource.Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
						<span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
					</div>
					<button class="btn btn-primary d-grid w-100" id="btnSubmit">
						Se connecter
					</button>
				</form>
			</div>
		</div>
		<!-- /Register -->
	</div>
</div>

